name: Sync hf branch to Hugging Face main

on:
  push:
    branches:
      - hf

  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push hf branch to Hugging Face main
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://abrilionatali:${HF_TOKEN}@huggingface.co/spaces/abrilionatali/feegow-automacoes
          git push hf hf:main --force
